@font-face{
    font-family: 'chillax-Regular';
    src:url(assets/fonts/Chillax-Regular.ttf)format('truetype');
}
@font-face{
    font-family: 'chillax-Medium';
    src:url(assets/fonts/Chillax-Medium.otf)format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: black;
    
}
html::-webkit-scrollbar-thumb{
    background: gray ;
}
body{
    height: 100rem;
    font-family: 'chillax-Regular';
}
/*===================== Start Header ================*/
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header{
    z-index: 1;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}
#search-box{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background:#ffd7ba;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
}
#search-box.active{
    transform: scaleY(1);
    opacity: 1;
}
#search-box #search{
    width: 100%;
    padding: 12px;
    text-transform: none;
    font-size: 1rem;
}
#search-box #search::placeholder{
    text-transform: capitalize;
}
#search-box label{
    color: #333;
    cursor: pointer;
    padding-left: 2rem;
}
header .navbar a{
    color: #333;
    font-size: 1.7rem;
    padding: 0 1rem;
    text-decoration: none;
}
header .navbar a:hover{
    color: #ffd7ba;
}
header .icons i, header .icons a{
    font-size: 2rem;
    color: #333;
    padding-left: 1rem;
    cursor: pointer;
}
header .icons i:hover, header .icons a:hover{
    color: #ffd7ba;
}
.fa-times{
    transform:rotate(-360deg);
}
#menu{
    font-size: 3rem;
    color: #333;
    display: none;
    cursor: pointer;
}
/* Media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
        padding: 2rem;
        border-top: .1rem solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a{
        font-size: 2rem;
        padding:1.5rem;
    }
    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
        background-color: #ffd7ba;
    }
    #menu{
        display: block;

    }
}
/*============== Log In form ===================*/
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.login-form, .sign-up-form{
    position: relative;
    width: 420px;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.login-form form, .sign-up-form form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form strong, .sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    font-weight: 500;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'chillax-Medium';
}
.login-form input, .sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
    
    
}
.login-form input::placeholder, .sign-up-form input::placeholder{
    color: rgba(0,0,0,0.5);
}
.login-form input[type="submit"], .sign-up-form input[type="submit"]{
    background: #606c38;
    color: #ffffff;
    outline: none;
    border: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    font-family: 'chillax-Medium';
}
.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: 'chillax-Medium';
}
.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px;
}
.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
    font-size: 20px;
}
.form-cancel:hover{
    color: #bc6c25;
    transition: all ease 0.3s;
}
.login-form, .sign-up-form, .form{
    display: none;
} 

.login-active,
.login-active .login-form{
    display: flex;
}
.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
} 


/*======================= End header =====================*/
/*======================= Start Hero section ===================*/
#hero {
    width: 100%;
    height: 82vh;
    background: url("assets/img/organic-argan.jpg") center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  }
  #hero .container {
    padding-top: 80px;
  } 
  
   #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } 
   #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
  }
  #hero .btn-get-started:hover {
    background: #fb8500;
    border: 2px solid #fb8500;
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
    #hero .container {
      padding-top: 60px;
    }
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
  }
  /*=================== End Hero section ===================*/
  
/*==================== Body first section ===================*/
h1{
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
}
/* images section*/
.image{
    height: 50rem;
    width: 120rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(51,51,51,.2);
    display: flex;
    margin: 10rem;
    overflow: hidden; 
}
.image-container{
    width: 50%;  
}
.big-img, .hair, .hydratation, .big, .picture{
   height: 70%;
   width: 100%;
   padding: 1rem;
}
.big-img img, .hair img, .hydratation img, .big img, .picture img{
    height: 100%;
    width: 100%;  
    object-fit: cover;
    box-shadow: 0 .5rem 1rem rgba(51,51,51,.2);
}
.small-image, .small, .sm-img, .pic, .pics{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .small-image img, .small img, .sm-img img, .pic img, .pics img{
     height: 13rem;
     width: 13rem;  
     object-fit: cover;
     cursor: pointer;
     box-shadow: 0 .5rem 1rem rgba(51,51,51,.2);
     border: 1rem solid #fff;
 }
 .small-image img:hover, .small img:hover, .sm-img img:hover, .pic img:hover, .pics img:hover{
     transform: scale(.7);
 }
 .content{
     width: 50%;
     position: relative;
     padding: 2rem;
 }
 .content h2{
     font-size: 4rem;
     padding-top: 2rem;
     color: #e85d04;
 }
 .content p{
     font-size: 2rem;
     padding: 1rem 0;

 }
 .content .stars i{
     background-color: #ffba08;
     font-size: 2rem;
 }
 

/* Media queries Ipad */
@media (max-width:1024px){
    .image{
        width: 70rem;
    }
    .content{
        width: 60%;
    }
    .content h2{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.5rem;
        padding: 1rem 0;
   
    }
    .content .stars i{
        background-color: #ffba08;
        font-size: 1.5rem;
    }  
}
/* Media queries Phone*/
@media (max-width:375px){
    .image{
        width: 35rem;
        margin: 5rem;
    }
    .content{
        width: 50%;
        position: relative;
    }
    .content h2{
        font-size: 2rem;
        padding-top: 1rem;
        color: #e85d04;
    }
    .content p{
        font-size: 1rem;
        padding: 1rem 0;
   
    }
    .content .stars i{
        background-color: #ffba08;
        font-size: 1rem;
    }
}

/* Add to cart */
.card-title{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}
.card-text span{
    text-decoration: line-through;
    color: red;  
}
.card-text{
    text-align: center;
}
.add-to-cart {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}



.wrapper{
    background-color: #e6d6c6;
}
.cart-nav{
    position: absolute;
    right: 0;
    width: 130px;
    padding: 13px 15px;
    display: flex;
    justify-content: space-evenly;
    cursor:pointer;
    border-radius: 7px;
    background: #fec89a;
}
.cart-nav #shopping{
    color: #333;
    font-size: 20px;
}
.cart-nav #shopping i{
    font-size: 20px;
}
.cart-nav #shopping span{
    font-weight: 700;
    font-size: 20px;
}
.cart-nav .item-count{
    font-weight: 600;
    font-size: 20px;
    color: #9b2226;
}
.wrapper .cart{
    position: relative;
    overflow: hidden;
    width: calc(90% - 10px)
}
.wrapper .cart:hover img{
    transform: scale(1.1);
}
.wrapper .cart .content{
    position: absolute;
    transition: all 0.3 ease;
    background-color: #fec89a;
    width: 100%;
    padding: 10px 20px 22px 20px;
}
.wrapper .cart:hover .content{
    bottom: 0;
}

.content .details span{
    font-size: 20px;
    font-weight: 700;
}
.content .details p{
    font-size: 20px;
    font-weight: 600;
}
/* .cart .btn{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 .6rem 2rem rgba(15, 13, 13, 0.2);
    border: 2px solid #ca6702;
    border-radius: 7px;
    margin: 4px;
}
.btn:hover{
    background-color: #333;
    color: #e6d6c6;
    transform: scale(.7); 
    
} */
.cart .price{
    font-size: 1.5rem;
    font-weight: bold;
}
.cart .price span{
    text-decoration: line-through;
    
}
    


/* footer */
 /* footer{
    background-color:  #e8e8e4ff ;
} */
/* #footer {
    background: black;
    color: #333;
    font-size: 20px;
    margin-top: 30px;
}
#footer .footer-top {
    background: #e8e8e4ff;
    border-top: 1px solid #fec89a;
    border-bottom: 1px solid #fec89a;
    padding: 20px 0 30px 0;
}

#footer .copyright {
    text-align: center;
    padding-top: 5px;
}
#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #333;
}
#footer .credits a{
    text-decoration: none;
} */

.service{
    padding-left: 38%;
    font-size: 10px;
    line-height: 6px;
}
/* footer */
    footer{
    background-color:  #e8e8e4ff ;
}
